.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background: #001529;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.content {
  min-height: 280px;
  margin: 0;
  padding: 24px;
}

.footer {
  text-align: center;
}
