.result {
  padding-top: 25vh;
}

.logo {
  width: 391px;
}

/*
.element{
  transform:translate(-50%,-50%);
  background-color:hotpink;
  user-select:none;
  font-size:2rem;
  color:red;
  display:grid;
  caret-color: goldenrod;
  top:50%;
  overflow:hidden;
  grid-template-columns:1fr 1fr;
  justify-content:center;
  left:50%;
  pointer-events: none;
  height:50px;
  width:50px;
  outline:1px solid rebeccapurple;
  isolation:isolate;
  text-align:center;
  line-height:1.5;
  position:absolute;
} */

/* .element{
  pointer-events: none;
  user-select:none;

  isolation:isolate;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  overflow:hidden;
  display:grid;
  grid-template-columns:1fr 1fr;
  justify-content:center;

  width:50px;
  height:50px;

  font-size:2rem;
  line-height:1.5;
  color:red;
  text-align:center;

  background-color:hotpink;
  outline:1px solid rebeccapurple;
  caret-color: goldenrod;
} */
